
.merson{
    background-image:url('cars.jpg') ;
    background-repeat: no-repeat;
    background-position: center center;
    color:rgb(68, 194, 110);
    background-size:1500px 800px ;
  }
  table{
    background-color:white;
  }
 
  .srinu{
    color:rgb(46, 8, 214) ;
    font-size: 20px;
  }
  th{
    color:rgb(8, 214, 18) ;
  }
  td{
    color:rgb(11, 51, 161);
  }
  .school{
    color:rgb(155, 39, 68);
  }
 
  